<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에 본 xml과 매핑될 매퍼 인터페이스를 입력한다. -->
<mapper namespace="com.mgchoo.security2.auth.mapper.UserMapper">
    
    <!-- 결과맵에 대한 타입을 지정한다. entity 클래스를 넣어 속성과 컬럼을 매핑한다.  -->
    <resultMap id="UserResultMap" type="com.mgchoo.security2.auth.entity.MyUser">
        <id     property="id"        column="id"/>
        <result property="username"  column="username" />
        <result property="password"  column="password" />
        <result property="enabled"   column="enabled" />
        <result property="accountNonExpired"     column="accountNonExpired" />
        <result property="credentialsNonExpired" column="credentialsNonExpired" />
        <result property="accountNonLocked"      column="accountNonLocked" />
    </resultMap>
   

    <select id="selectList" resultMap="UserResultMap">
        SELECT id
             , username
             , password
             , enabled
             , accountNonExpired
             , credentialsNonExpired
             , accountNonLocked
          FROM users
    </select>
    
    <select id="select" resultMap="UserResultMap">
        SELECT id
             , username
             , password
             , enabled
             , accountNonExpired
             , credentialsNonExpired
             , accountNonLocked
          FROM users
         WHERE username = #{username }
    </select>
     
    <insert id="insert">
        INSERT INTO users(username, password, enabled)
        VALUES (#{username }, #{password }, #{enabled })
    </insert>
    
    <update id="update">
        UPDATE users
           SET enabled = #{enabled }
         WHERE username = #{username }
    </update>
    
    <delete id="delete">
        DELETE
          FROM users
         WHERE username = #{username }
    </delete>
   
</mapper>